*{
    margin: 0;
}

/*NavBar*/
.header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.opciones{
    /*Permito flexibilidad de la lista*/
    display: flex;
    /*Quito formato de la lista*/
    list-style-type: none;
}

.opciones li a{
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 9, 139);
}

.opciones li a:hover{
    padding: 5px;
    background-color: rgb(247, 247, 244);
    border-radius: 10px;
}

/*Footer.php*/
.footer{
    background-color: rgb(57, 44, 116);
    padding: 10px;
}

/*Login.php*/
.login{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloLogin{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.formularioLogin input{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

/*Registro.php*/
.registro{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloRegistro{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.formularioRegistro input{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

